<!DOCTYPE html>
<div class="main-content container-fluid">
  <div class="row">
    <div class="col m8 offset-m2">
      <h1 class="fine center">Hello World!</h1>
      <h4 class="light center">
       The students who've participted in Google Summer of Code with freifunk.net
      </h4>
    </div>
  </div>
</div>
<div class="main-content students">
  
  <div class="row">
    <div class="col s12">
      <ul class="tabs transparent-bg">
        
      </ul>
    </div>
    
  </div>
</div>
<script>
$(document).ready(function () {
    $('.students .tabs').tabs();
})
</script>
